@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1590032390162'); /* IE9 */
  src: url('iconfont.eot?t=1590032390162#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKkAAsAAAAABkAAAAJXAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApIXwE2AiQDCAsGAAQgBYRtBzQbiQUR1Ys1sq8xGTLmzVCg4Xlbs7wp8GW4f+XgwFqL7wAFVqAAAAAAgAiqNbLnbp8QPKADVJGpV1HRQCg8Cok6wqAEEjqgykGXpaInO+OB7T3Bw4xuay33LdYCZTr+SL4toEKFC1k6zuXJtbLCdCp0myFjrF4CCPwHQHIAsvs8l9O7q4ACmR8ox71orEmTegH14kAKaKxNkZVQxg1jF7zA4wRKdRoXq5f3T0KJPS4QJ4KTwoJbklisWChsWJrEPQWKs+uFu9H344/ZkExBzi7YProwYr9zErg7FhA8BLS6ADnGkYj9xvAmBGPmSsPRy7Fyg+/+wCSOqhfsr7Ozy0E7FDyT0BM9aiyDx2qrFs2TriNqu/F/vskd/X4/v9mAj7/qzaPXA8ZruV0wfX33tPnZ5WUo/fE9f2IR+ln2oQWCmlPH1ceOO0ng0zbSJcOsFO/DEvwL4cCaZIhtY5Y0YWNjpvYcRaVK8R/ba32bqmk4cTwUa5hgLdKRIVesn0yMcRQoM49CxRZQaszG6jJ1TkKkEoy6DBCqvUam0hvkqn0kE+MrCjT6h0LVAUodBluWGQwvjM8IJaMBtYWg28a6Zh7HuQ/olpWkvDhivSANwQd5kpVjV9ggLTFjWLmC2YKltoZLcBpWVQsdtRE1J565W6SpbXpTottajMUZoWQ0oLYQdNvYoDmPK59/QLesJHVU1flfkIbQOeRJNoC8UjSDqh7llWHlCmYLltoaLsEgrKoWuuZBETUnfkKwW6ROPTtUkWyvqv9uC5QKW5uNnG658bZdxiAbDvVCAAAAAA==') format('woff2'),
  url('iconfont.woff?t=1590032390162') format('woff'),
  url('iconfont.ttf?t=1590032390162') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1590032390162#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e61c";
}

